Repository UdsonWillams/parking-lot: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, vulture, safety, bandit

flake8:
  args:
  - --max-line-length=88
  name: flake8
  entry: flake8
  language: python
  require_serial: true

vulture:
  name: vulture
  language: python
  entry: vulture
  args:
  - .
  - --exclude=venv-pre-commit/
  - --min-confidence=90
  - --ignore-names=cls
  pass_filenames: false
  require_serial: true

safety:
  name: safety
  entry: safety
  language: system
  args:
  - check
  - --full-report
  - --file

bandit:
  name: bandit
  entry: bandit
  args:
  - -c
  - pyproject.toml
  additional_dependencies:
  - bandit[toml]
  language: python
  language_version: python3

atualizando requirements baseado no safety
  requirements.txt
Due: safety

melhoria
  testes de carga/testes_carga_example.py
Due: flake8, vulture, bandit

Excluindo projeto que não vou mais mecher
  desafios/url_shortener/Dockerfile
  desafios/url_shortener/Makefile
  desafios/url_shortener/README.md
  desafios/url_shortener/api/__init__.py
  desafios/url_shortener/api/config.py
  desafios/url_shortener/api/db/__init__.py
  desafios/url_shortener/api/db/db_orm.py
  desafios/url_shortener/api/db/repository/__init__.py
  desafios/url_shortener/api/db/repository/exceptions.py
  desafios/url_shortener/api/db/repository/postgres_shortner_repository.py
  desafios/url_shortener/api/exceptions/__init__.py
  desafios/url_shortener/api/exceptions/base_exceptions.py
  desafios/url_shortener/api/service/__init__.py
  desafios/url_shortener/api/service/url_short_service.py
  desafios/url_shortener/app.py
  desafios/url_shortener/docker-compose.yaml
  desafios/url_shortener/requirements.txt
Due: flake8, vulture, safety, bandit

Melhorando requirements e criando pasta de baixador de video e audio.
  download_yt_videos/__init__.py
  requirements.txt
Due: flake8, vulture, safety, bandit

baixa audio do youtube
  download_yt_videos/down_yt_audio.py
Due: flake8, vulture, bandit

Baixa video do youtube
  download_yt_videos/down_yt.py
Due: flake8, vulture, bandit

Subindo arquivos para estudo sobre padrões de projeto - abs-factory
  padroes de projeto/padroes-criacionais/abstract factory/abstract_factory_original.py
Due: flake8, vulture, bandit

Subindo arquivos para estudo sobre padrões de projeto - builder
  padroes de projeto/padroes-criacionais/builder/builder_original.py
Due: flake8, vulture, bandit

Subindo arquivos para estudo sobre padrões de projeto - prototype
  padroes de projeto/padroes-criacionais/prototype/prototype_original.py
Due: flake8, vulture, bandit

Subindo arquivos para estudo sobre padrões de projeto - singleton
  padroes de projeto/padroes-criacionais/singleton/singleton_original.py
Due: flake8, vulture, bandit

Factory method de forma simplicada na minha opnião, sem tantas classes.
  padroes de projeto/padroes-criacionais/factory method/factory_method_simplified.py
Due: flake8, vulture, bandit

Factory method original, criando exemplo a partir do guru.refactoring
  padroes de projeto/padroes-criacionais/factory method/factory_method_original.py
Due: flake8, vulture, bandit

Update README.md
  README.md
Due: none

abstract-factory-original, traduzindo comentarios, ainda incompleto.
  padroes de projeto/padroes-criacionais/abstract factory/abstract_factory_original.py
Due: flake8, vulture, bandit

excluindo o builder origial, pois o python tem uma forma mais simples de faze-lo
  padroes de projeto/padroes-criacionais/builder/builder_original.py
Due: flake8, vulture, bandit

builder simplified by python
  padroes de projeto/padroes-criacionais/builder/builder_simplified.py
Due: flake8, vulture, bandit

removendo func sem uso
  padroes de projeto/padroes-criacionais/factory method/factory_method_simplified.py
Due: flake8, vulture, bandit

Padrão prototype no python
  padroes de projeto/padroes-criacionais/prototype/prototype_original.py
Due: flake8, vulture, bandit

Padrão singleton no pyhon
  padroes de projeto/padroes-criacionais/singleton/singleton_original.py
Due: flake8, vulture, bandit

iniciando estudo de python async
  python_async/estudando_python_async.txt
  python_async/study_async.py
Due: flake8, vulture, bandit

testando clients async e sincronos.
  python_async/request_test_.py
  python_async/requirements.txt
Due: flake8, vulture, safety, bandit

alguns exemplos de formatações de numeros flutuantes em strings.
  strings_python/lidando_com_floats.py
Due: flake8, vulture, bandit

alguns codigos de desafios feitos no leet code
  leetcode/palindrome_number.py
  leetcode/power_of_two.py
  leetcode/same_three.py
  leetcode/two_sum.py
Due: flake8, vulture, bandit

script de visualização do ponto de trabalho
  ponto_de_trabalho.py
  requirements.txt
Due: flake8, vulture, safety, bandit

melhorias
  download_yt_videos/requirements.txt
  fastapi-basic/requirements.txt
  parking lot/batida_de_ponto.py
  parking lot/requirements.txt
  ponto_de_trabalho.py
  pydentic/requirements.txt
  requirements.txt
  testes de carga/requirements.txt
Due: flake8, vulture, safety, bandit

setando settings no repo de salvar dados de programação
  .vscode/settings.json
Due: none

add some scripts
  knockknock-lib/example.py
  knockknock-lib/excluindo-valor-keyring
  knockknock-lib/password
  knockknock-lib/requirements.txt
  russian_rollet.go
Due: flake8, vulture, safety, bandit

Create russian_rollet.py
  russian_rollet.py
Due: flake8, vulture, bandit

Update russian_rollet.go
  russian_rollet.go
Due: none

Update busca_binaria.py
  desafios/busca binaria/busca_binaria.py
Due: flake8, vulture, bandit

Update items.json
  desafios/busca binaria/items.json
Due: none

Path conditions:
  flake8: any of: \.py$
  vulture: any of: \.py$
  safety: any of: pyproject.toml|requirements
  bandit: any of: \.py$
